@{
    ViewData["Title"] = "Movie Site";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<div class="row">
    <div class="column">
        <div class="card">
            <center><img src="~/lib/PosterTempFolder/wakanda-forever.jpg" class="img-thumbnail" /></center>
            <h3><strong>Movie Title</strong></h3>

        </div>
    </div>
</div>

